system_public_prop(fingerprint_sp_prop)
system_public_prop(ims_prop)
system_public_prop(system_ril_ext_prop)
system_public_prop(telephony_ril_ntn_sim_deact_prop)

system_restricted_prop(device_config_faceauth_native_prop)
system_restricted_prop(telephony_ntn_demo_mode_prop)
