app_domain(connectivity_thermal_power_manager)

hal_client_domain(connectivity_thermal_power_manager, hal_power_stats)
hal_client_domain(connectivity_thermal_power_manager, hal_thermal)

binder_call(connectivity_thermal_power_manager, statsd)

allow connectivity_thermal_power_manager app_api_service:service_manager find;
allow connectivity_thermal_power_manager mtk_wwan_device:chr_file rw_file_perms;
allow connectivity_thermal_power_manager radio_service:service_manager find;
allow connectivity_thermal_power_manager system_api_service:service_manager find;
