app_domain(pixelntnservice_app)

set_prop(pixelntnservice_app, telephony_ntn_demo_mode_prop)
set_prop(pixelntnservice_app, telephony_ril_ntn_sim_deact_prop)

allow pixelntnservice_app activity_service:service_manager find;
allow pixelntnservice_app gpu_service:service_manager find;
allow pixelntnservice_app legacy_permission_service:service_manager find;
allow pixelntnservice_app netstats_service:service_manager find;
allow pixelntnservice_app radio_service:service_manager find;
allow pixelntnservice_app registry_service:service_manager find;
allow pixelntnservice_app thermal_service:service_manager find;
