app_domain(vendor_satellite_service)

allow vendor_satellite_service activity_service:service_manager find;
allow vendor_satellite_service deviceidle_service:service_manager find;
allow vendor_satellite_service netstats_service:service_manager find;
allow vendor_satellite_service radio_service:service_manager find;
